# IDE files
.idea/
*.iml
.kotlin/
.artifacts/

# Gradle files
.gradle/
build/
app/build/

# Local configuration
local.properties

# System files
.DS_Store
Thumbs.db

# Output files
captures/
*.apk
*.aar
*.jar

# External Native Build
.externalNativeBuild/
.cxx/
